In [ ]:
# From Indexing:
# . Modify rows with `term` values equal to `36 months` to be `3 years`.

shrunken.loc[shrunken['term'] == '36 months', 'term'] = '3 Years' # I don't totally get this line
shrunken.head()

In [ ]:
# 12. Filter `term_df` by rows with `annual_inc` greater than `80000`. Use the `mean()` function to see 
# the average `int_rate` of three-year loan customers with annual incomes greater than $80,000.

shrunken.loc[shrunken['annual_inc'] > 80000].describe() # How do you do the 2nd part of the task?